extends layout

block content
  h1#page-title About
  div.page-content
    div.about-content
      div.profile
        img.profile-image(src="../images/profile.jpg" alt="profile")
      div.intro
        p.intro-text
          | 佐和空彌。1994年2月７日生。兵庫県神戸市出身。<br>
          | 神戸大学国際文化学部卒。<br>
          | 2017年、大学在学中に卒業論文『フィリピンの刑罰適用年齢引き下げに関する世論分析』の研究のため、単身フィリピンへ渡る。<br>
          | 研究の傍ら、世界を救うオムライス屋「Kuya Omurice」と称し、オムライスの路上販売・売上の寄付活動を開始。<br>
          | 全国ネットのテレビニュースに取り上げられ、学園祭やイベントなどに活動の幅を広げる。<br>
          | <br>
          | 2018年、モデル事務所にスカウトされ、フィリピンで芸能活動開始。<br>
          | 2019年、『Kahit Ayaw Mo Na』で映画初出演。<br>
          | フィリピン人気番組『Eat Bulaga』You're my Foreignoyで準優勝。<br>
          | 実店舗「Kuya Omurice」オープン。<br>
          | <br>
          | 2020年、新型コロナ流行を受け、帰国。日本で芸能活動開始。<br>
          | 2022年、東京に拠点を移し、今に至る。<br>