extends layout

block content
  h1#page-title Works>Commercial
  div.page-content
    div.works-container
      div.works-column
        img(src="../images/commercial/centire_1.jpeg" alt='1')
        h3 Centire One 2022
