extends layout

block content
  h1#page-title News
  div.page-content
    div.news
      lavel(for=news)
      dl#news
        dt 2022.8.22
        dd ホームページ作成中
        dt 2022.8.25
        dd ホームページ作成中

  div.instagram


  
  


