extends layout

block content
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0" nonce="Qf7GKWQE"></script>
  h1#page-title News
  div.page-content
    div.news
      lavel(for=news)
      dl#news
        dt 2022.8.22
        dd ホームページ作成中
        dt 2022.8.25
        dd ホームページ作成中
  


