doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div
        h1.headline KUYA SAWA Official Page
        div.slider
          div.slider-inner
            img.slider-item(src="images/top_1.jpg" alt='top1')
            img.slider-item(src="images/top_2.jpg" alt='top2')
            img.slider-item(src="images/top_3.jpg" alt='top3')
            img.slider-item(src="images/top_4.jpg" alt='top4')
            img.slider-item(src="images/top_5.jpg" alt='top5')
            img.slider-item(src="images/top_6.jpg" alt='top6')
            img.slider-item(src="images/top_7.jpg" alt='top7')
            img.slider-item(src="images/top_8.jpg" alt='top8')
            img.slider-item(src="images/top_9.jpg" alt='top9')
            img.slider-item(src="images/top_10.jpg" alt='top10')
            img.slider-item(src="images/top_11.jpg" alt='top11')
            img.slider-item(src="images/top_12.jpg" alt='top12')
            img.slider-item(src="images/top_13.jpg" alt='top13')
            img.slider-item(src="images/top_14.jpg" alt='top14')
            img.slider-item(src="images/top_15.jpg" alt='top15')
            img.slider-item(src="images/top_16.jpg" alt='top16')
            img.slider-item(src="images/top_17.jpg" alt='top17')
            img.slider-item(src="images/top_18.jpg" alt='top18')
            img.slider-item(src="images/top_19.jpg" alt='top19')
            img.slider-item(src="images/top_20.jpg" alt='top20')
        ul.nav-list
          li.nav-list-item
            a#nav-list-item(href="/") Home 
          li.nav-list-item
            a#nav-list-item(href="/about") About
          li.nav-list-item
            a#nav-list-item(href="/works") Works 
          li.nav-list-item
            a#nav-list-item(href="/error") Blog
          li.nav-list-item
            a#nav-list-item(href="/link") Link
          li.nav-list-item
            a#nav-list-item(href="/contact") Contact
    
    
    
    block content



    footer
      h3 ©️2022 Kuya Sawa
