doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1.headline KUYA SAWA Official Page
      <img src="../public/images/top1.JPG" alt='top1'>
      <img src="https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg" height="100" width="100">
      ul.nav-list
        li.nav-list-item
          button(href="/index") Home 
        li.nav-list-item
          button About
        li.nav-list-item
          button Works
        li.nav-list-item
          button Contact
    block content
