extends layout

block content
  h1#page-title Link
  div.sns-link
    a(href='https://www.instagram.com/kuyasawa/') <img src="images/instagram-logo.png" class="sns-logo">
    a(href='https://www.facebook.com/kuyasawaofficial') <img src="images/facebook-logo.png" class="sns-logo">
    a(href='https://twitter.com/kuya_omu') <img src="images/twitter-logo.png" class="sns-logo">
    a(href='https://www.tiktok.com/@kuyasawa') <img src="images/tiktok-logo.png" class="sns-logo">
    a(href='https://www.youtube.com/channel/UCiG-tUF6sVsOXu1TKalOjcQ') <img src="images/youtube-logo.png" class="sns-logo">
  div.page-content
    ul
      li
        a(href='https://www.instagram.com/isajia_coffee_and_tea/') isajia coffee and tea (mom's cafe)
    
