extends layout

block content
  h1#page-title Works
  div.page-content
    h3 Commercial
    div.works-link
      a#works-link(href='works/commercial') <img src="../images/top_7.jpg" id="works-link-pic">
    h3 Portrait
    div.works-link
      a#works-link(href='works/portrait') <img src="../images/top_11.jpg" id="works-link-pic2">
    h3 Runway
    div.works-link
      a#works-link(href='works/runway') <img src="../images/top_12.jpg" id="works-link-pic">
    h3 Movie
    div.works-link
      a#works-link(href='works/movie') <img src="../images/akin.jpg" id="works-link-pic">
